@use '../../variables' as v;


header{
    width: 100%;



    .header__text{
        width: inherit;

        span{
            width: auto;
            display: inline-block;
            color: rgb(4, 17, 29);
            font-size: v.$text-small;
            line-height: v.$text-lh-medium;
            font-weight: 600;

            @media (min-width: v.$breakpoint-desktop){
                font-size: v.$text-medium
            }
        }
    }
}