@use '../../variables' as v;


nav{
    max-width: 100vw;
    height: 72px;
    position: sticky;
    top: 0px;
    --transition-curve: cubic-bezier(0.05,0,0.2,1);
    box-shadow: rgb(229 232 235 / 0%) 0px 1px 0px 0px;
    z-index: 100;
    transition: top 0.5s var(--transition-curve), background-color 0.2s var(--transition-curve), box-shadow 0.2s var(--transition-curve),color 0.2s var(--transition-curve);
    background-color: rgba(255, 255, 255, 0);


    .container{
        @media (min-width: v.$breakpoint-xl-desktop) {
            padding: 0 4rem;
        }

        @media (min-width: v.$breakpoint-lg-desktop) {
            padding: 0 2rem;
        }


        .navbar {
            display: flex;
            height: 100%;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin-right: -16px;


            .navbar__logo {
                -webkit-box-align: center;
                align-items: center;
                height: 100%;
                padding-right: 0;
                display: none;

                @media (min-width: v.$breakpoint-desktop) {
                    padding-right: 3rem;
                }

                @media (min-width: v.$breakpoint-mobile) {
                    display: flex;
                    padding-right: 2rem;
                }


                .navbar__logo-link {
                    font-weight: 500;
                    height: 100%;
                    padding: 8px 0;
                    position: relative;
                    -webkit-box-align: center;
                    align-items: center;
                    display: flex;
                    font-size: 1.25rem;
                    // color: rgb(32, 129, 226);

                    .navbar__icon{
                        height: 40px;
                        width: 40px;
                        position: relative;

                        span{
                            display: block;

                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }


                    .navbar__logo-text{
                        font-weight: 700;
                        font-size: 20px;
                        margin: 4px 0 0 10px;
                        color: rgb(4, 17, 29);
                    }
                }
            }


            .navbar__input-search{
                width: 100%;

                
                .navbar__input-serach-container{
                    display: flex;
                    height: 100%;
                    width: 100%;
                    -webkit-box-align: center;
                    align-items: center;


                    @media (min-width: v.$breakpoint-mobile){
                        padding-right: 32px;
                    }

                    .nav__input{
                        width: 100%;
                        height: 72px;
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        flex-direction: column;

                        @media (min-width: v.$breakpoint-mobile){
                            height: 45px;
                        }


                        .nav__input-flex{
                            border-color: transparent;
                            background-color: rgba(255, 255, 255, 0.7);
                            line-height: 26px;
                            padding: 8px;
                            cursor: text;
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            border-radius: 12px;
                            border: 2px solid rgb(229, 232, 235);
                            color: rgb(4, 17, 29);
                            width: 100%;
                            height: 48px;
                            font-size: 16px;
                            transition: background-color 0.2s 
                                cubic-bezier(0.05, 0, 0.2, 1) 0s, 
                                border-color 0.2s 
                                cubic-bezier(0.05, 0, 0.2, 1) 0s;


                            .search__icon{
                                display: flex;
                                flex-direction: column;
                                -webkit-box-pack: center;
                                justify-content: center;
                                color: rgb(138, 147, 155);
                                font-size: 24px;

                            }

                            
                            input{
                                background-color: transparent;
                                border: none;
                                outline: none;
                                width: 100%;
                                padding: 1px 2px;

                                @media (min-width: v.$breakpoint-mobile){
                                    font-size: inherit;
                                    line-height: inherit;
                                    min-height: inherit;
                                }
                            }

                            input[placeholder] {
                                text-overflow: ellipsis;
                                font-family: 'Poppins', sans-serif;
                            }
                        }
                    }
                }
            }


            ul{
                display: flex;
                flex-shrink: 0;
                margin: 0px;
                padding-left: 0px;
                list-style-type: none;

                .ul__flex-item{
                    padding: 0;
                    margin: 0;


                    .list__container{
                        display: flex;         
                                         
    
                        .nav__link-list{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            -webkit-box-align: center;
                            -webkit-box-pack: justify;
                            cursor: pointer;
                            height: 72px;
                            flex-shrink: 0;
    
                            a, button{
                                width: 100%;
                                -webkit-box-align: center;
                                align-items: center;
                                color: rgb(4, 17, 29);
                                display: flex;
                                height: 100%;
                                padding: 0px 10px;
                                min-width: 52px;
                                position: relative;
                                font-weight: 600;
                                font-size: 1.125rem;
    
                                @media (min-width: v.$breakpoint-mobile){
                                    padding: 0px 16px;
                                    min-width: 64px;
                                }


                                .account__profile, .account__balance-wallet, .shopping__cart{
                                    font-size: 32px !important;
                                }
                            }


                            .withButton{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                -webkit-box-pack: center;
                                justify-content: center;
                                position: relative;

                                button{
                                    display: inline-flex;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    font-size: 100%;
                                    font-family: inherit;
                                    border: 0px;
                                    background: inherit;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}