$breakpoint-xl-desktop: 1600px;
$breakpoint-lg-desktop: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 815px;
$breakpoint-mobile: 600px;


$text-large: 32px;
$text-medium: 24px;
$text-small: 20px;
$text-lh-large: 48px;
$text-lh-medium: 32px;
$text-lh-small: 28px;
