@use './variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-rendering: optimizelegibility;
}


html{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;

  @media (min-width: v.$breakpoint-lg-desktop) {
    font-size: 15px;
  }

  @media (min-width: v.$breakpoint-desktop) {
    font-size: 14.5px;
  }
}


.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 2560px;
  height: 100%;
}


input{
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 1px 2px;

  @media (min-width: v.$breakpoint-mobile){
      font-size: inherit;
      line-height: inherit;
      min-height: inherit;
  }
}


input[placeholder] {
  text-overflow: ellipsis;
  font-family: 'Poppins', sans-serif;
}


span{
  display: block;
  width: 44px;
  height: 44px;

  .openSea-logo{
    width: 100%;
    height: 100%;
  }
}

