@use './variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-rendering: optimizelegibility;
}


html{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;

  @media (min-width: v.$breakpoint-lg-desktop) {
    font-size: 15px;
  }

  @media (min-width: v.$breakpoint-desktop) {
    font-size: 14.5px;
  }
}


.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 2560px;

  @media (min-width: v.$breakpoint-xl-desktop){
    padding: 0 4rem;
  }
  @media (min-width: v.$breakpoint-lg-desktop){
    padding: 0 2rem;
  }
}


input{
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 1px 2px;

  @media (min-width: v.$breakpoint-mobile){
      font-size: inherit;
      line-height: inherit;
      min-height: inherit;
  }
}


input[placeholder] {
  text-overflow: ellipsis;
  font-family: 'Poppins', sans-serif;
}


// span{
//   display: block;
//   width: 44px;
//   height: 44px;

//   .openSea-logo{
//     width: 100%;
//     height: 100%;
//   }
// }

button{
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.01em;
  padding: 11px 24px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(229, 232, 235);
  color: rgb(4, 17, 29);
  cursor: pointer;
}


.section__grid-templates{
  margin-bottom: 44px;
  margin-top: 28px;

  @media (min-width: v.$breakpoint-xl-desktop){
      margin-bottom: 58px;
      margin-top: 40px;
  }


  .grid__templates{
    display: flex;
    flex-direction: column;
  
    .grid__template-item{
        display: flex;
        flex-direction: column;
        column-gap: 2rem;
  
        @media (min-width: v.$breakpoint-desktop){
            flex-direction: row;
        }
    }
  }
  
}
